.navbar-toggler-icon {
  color: red;
}

.links {
  .link-box {
    padding: 10px 0px;
  }
  a {
    width: 100%;
    margin: 20px;
    transition: 0.3s;

    @media (max-width: 460px) {
      margin: 0;
    }
    &:hover,
    &.active {
      color: #184bd8;
    }
  }
}
